body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/login-background-banner.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #8c9bea;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 0.5rem;
}
p {
    margin: 1rem 0;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background: rgba(110, 125, 207, 0.95);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-left: 4px solid #333;
}
footer {
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    margin-top: 2rem;
}
a {
    color: #333;
    text-decoration: none;
}
